<div cdkDropList class="left-menu list" (cdkDropListDropped)="drop($event)">
  <ng-container *ngFor="let application of applicationList">
    <div class="center box" cdkDrag>
      <button
        mat-button
        color="accent"
        class="left-button"
        (click)="selectApplication(application)"
      >
        {{ application.applicationName.charAt(0) }}
      </button>
    </div>
  </ng-container>

  <div class="center bottom">
    <button
      mat-button
      (click)="addApplication()"
      color="accent"
      class="left-button"
    >
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
</div>
