.left-menu {
  max-width: 6rem;
  height: 100%;
  background: #303030;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#add-button {
  background: #3c3c3c;
  margin: 10px;
  border-radius: 500px;
  padding: 20px;
}