<div cdkDropList class="left-menu list" (cdkDropListDropped)="drop($event)">
  <ng-container *ngFor="let application of applicationList">
    <div
      class="center box"
      (contextmenu)="openContextMenu($event, application)"
      cdkDrag
    >
      <button
        mat-button
        color="accent"
        class="left-button"
        (click)="selectApplication(application)"
      >
        {{ application.applicationName.charAt(0) }}
      </button>
    </div>
  </ng-container>

  <div class="center bottom">
    <button
      mat-button
      (click)="addApplication()"
      color="accent"
      class="left-button"
    >
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
</div>

<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="editApplicationMenu"
></div>

<mat-menu #editApplicationMenu>
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="removeApplication(item)">Remove</button>
  </ng-template>
</mat-menu>
