<div class="container">
  <ng-container *ngIf="!selectedApplication">
    <h1 class="title">
      <mat-icon>
        chevron_left
      </mat-icon>
      Select an Application
    </h1>
  </ng-container>

  <ng-container *ngFor="let application of applicationList">
    <webview
      [ngClass]="{
        full: application === selectedApplication,
        hidden: application !== selectedApplication
      }"
      attr.src="{{ application.applicationURL }}"
      attr.partition="persist:{{ application.applicationName }}"
    ></webview>
  </ng-container>
</div>
