<div class="container">
  <ng-container *ngIf="!selectedApplication">
    <h1 class="title">
      <mat-icon>
        chevron_left
      </mat-icon>
      Select an Application
    </h1>
  </ng-container>

  <ng-container *ngFor="let application of applicationList">
    <embedded-app
      [ngClass]="{
        full: application === selectedApplication,
        hidden: application !== selectedApplication
      }"
      [src]="application.applicationURL"
      [partition]="'persist:' + application.applicationName"
    ></embedded-app>
  </ng-container>
</div>
